html/index.html

<html></html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../assets/css/style.css"/>
  <link rel="stylesheet" href="../assets/css/all.css"/>
  <script src="../assets/js/all.js"></script>
</head>
<title>Project 2</title>
<body>
  <header>
    <div class="container">
      <div class="row">
        <nav><img src="../assets/images/logo.png" alt=""/>
          <ul class="menu-items">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Shop</a>
              <ul class="submenu">
                <li></li><a href="">Shop Details</a>
                <li></li><a href="">Online Shop</a>
              </ul>
            </li>
            <li><a href=""><i class="fas fa-search"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <section id="Introduction">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="background-img">
            <h1>Bringing Brands to Life Digitally.</h1>
            <h3>Web Design, App Development</h3>
            <h3>Digital Marketing Agency </h3><a href="#">Our Projects</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="whychooseus">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="card white">
                <div class="icon"><i class="far fa-sticky-note pink"></i></div>
                <h3>Website Design</h3>
                <p>Sed ut perspiciatis unde omnis iste voluptatem</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="icon"><i class="far fa-sticky-note plum"></i></div>
                <h3>ECommerce</h3>
                <p>Sed ut perspiciatis unde omnis iste voluptatem</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="icon"><i class="far fa-sticky-note blue"></i></div>
                <h3>Graphic Design</h3>
                <p>Sed ut perspiciatis unde omnis iste voluptatem</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="icon"><i class="far fa-sticky-note yellow"></i></div>
                <h3>Social Media</h3>
                <p>Sed ut perspiciatis unde omnis iste voluptatem</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="counter-section">
              <h4>About</h4>
              <h3>Why Choose Owali .</h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere maxi omnis voluptas assumenda est, omnis dolor repellendus.</p>
              <div class="col-md-6"><span>350+</span>
                <p>Completed projects</p>
              </div>
              <div class="col-md-6"><span>25+</span>
                <p>Professional Team</p>
              </div>
              <div class="col-md-6"><span>1900+</span>
                <p>Happy customers</p>
              </div>
              <div class="col-md-6"><span>10+</span>
                <p>Inprogress Project</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="video-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="introduction">
            <h4>PLAY OUR INTRO</h4>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor inc ididunt ut labore et dolore magna aliqua.</h2><a href=""><i class="far fa-play-circle"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="contact-us">
          <h1>Get In Touch</h1>
          <div class="contact">
            <div class="col-md-3">
              <h3>Contact Info</h3>
              <div class="icon"><span>
                  <div class="c-icon"><i class="fas fa-phone-alt"> </i></div>
                  <p>+88 1234 56789</p></span><span>
                  <div class="c-icon"><i class="fas fa-envelope"> </i></div>
                  <p>contact@yourmail.com</p></span><span>
                  <div class="c-icon"><i class="fas fa-map-marker-alt"> </i></div>
                  <p>203, Envato Labs, Behind Alis Steet,Australia</p></span></div>
            </div>
            <div class="col-md-9">
              <div class="c-form">
                <div class="col-md-6">
                  <input type="text" placeholder="Name"/>
                </div>
                <div class="col-md-6">
                  <input type="text" placeholder="Email"/>
                </div>
                <div class="col-md-12">
                  <textarea class="text-area" name="" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <div class="col-md-12">
                  <div class="btn-contact"><a href="#">Contact Us</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-menu">
          <div class="col-md-3">
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4">
                <h4>About Us</h4>
                <ul>
                  <li><a href="">About Us</a></li>
                  <li><a href="">Team</a></li>
                  <li><a href="">Customers</a></li>
                  <li><a href="">Jobs</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4>Services</h4>
                <ul>
                  <li><a href="">About Us</a></li>
                  <li><a href="">Team</a></li>
                  <li><a href="">Customers</a></li>
                  <li><a href="">Jobs</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4>Support</h4>
                <ul>
                  <li><a href="">About Us</a></li>
                  <li><a href="">Team</a></li>
                  <li><a href="">Customers</a></li>
                  <li><a href="">Jobs</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="copyright">© 2021, All CopyRight </div>
        </div>
      </div>
    </div>
  </section>
</body>

pug/index.pug
html
head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="../assets/css/style.css")
    link(rel="stylesheet", href="../assets/css/all.css")
    script(src="../assets/js/all.js")
title
    |Project 2
body
    include components/_header
    section#Introduction
        .container
            .row
                .col-md-12
                    .background-img
                        h1 Bringing Brands to Life Digitally.
                        h3 Web Design, App Development
                        h3 Digital Marketing Agency 
                        a(href="#")
                            | Our Projects
    section#whychooseus
        .container
            .row
                .col-md-6
                    .row
                        .col-md-6
                            .card.white
                                .icon
                                    i.far.fa-sticky-note.pink
                                h3 Website Design
                                p Sed ut perspiciatis unde omnis iste voluptatem
                        .col-md-6
                            .card
                                .icon
                                    i.far.fa-sticky-note.plum
                                h3 ECommerce
                                p Sed ut perspiciatis unde omnis iste voluptatem
                        .col-md-6
                            .card
                                .icon
                                    i.far.fa-sticky-note.blue
                                h3 Graphic Design
                                p Sed ut perspiciatis unde omnis iste voluptatem
                        .col-md-6
                            .card
                                .icon
                                    i.far.fa-sticky-note.yellow
                                h3 Social Media
                                p Sed ut perspiciatis unde omnis iste voluptatem
                .col-md-6
                    .row
                        .counter-section
                            h4 About
                            h3 Why Choose Owali .
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere maxi omnis voluptas assumenda est, omnis dolor repellendus.
                            .col-md-6
                                span 350+
                                p Completed projects
                            .col-md-6
                                span 25+
                                p Professional Team
                            .col-md-6
                                span 1900+
                                p Happy customers
                            .col-md-6
                                span 10+
                                p Inprogress Project
    section#video-intro
        .container
            .row
                .col-md-6
                    .introduction
                        h4 PLAY OUR INTRO
                        h2 Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor inc ididunt ut labore et dolore magna aliqua.
                        a(href="")
                            i.far.fa-play-circle
    include components/_footer
